<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>Title</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" />
<script src="{% static 'js/uikit.min.js' %}"></script>
<script src="{% static 'js/uikit-icons.min.js' %}"></script>
</head>
<body>
    <div class="uk-container">
        <div class="uk-text-center">
             <div uk-spinner="ratio: 3"></div>
        </div>

    </div>
</body>
</html>
