{% extends 'mailer/base.html' %}
{% block content %}
<h4>Список клиентов сервиса</h4>
<a href="{% url 'mailer:client_create' %}" class="uk-button uk-button-primary">Создать</a>
<table class="uk-table uk-table-divider uk-table-striped uk-table-small">
    <caption></caption>
    <thead>
        <tr>
            <th>E-mail</th>
            <th>Фамилия И.О.</th>
            <th>Комментарий</th>
            <th>Удалить</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{ object.email }}</td>
            <td>{{ object.fio }}</td>
            <td>{{ object.info }}</td>
            <td><a href="/clients/{{ object.pk }}/delete" class="uk-button uk-button-danger" uk-icon="icon: trash"></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'mailer:client_list' %}" class="uk-button  uk-button-secondary">Назад</a>
{% endblock %}