{% extends 'mailer/base.html' %}
{% block content %}
<h4>Список сообщений для рассылок</h4>
<a href="{% url 'mailer:message_create' %}" class="uk-button uk-button-primary">Создать</a>
<table class="uk-table uk-table-divider uk-table-striped uk-table-small">
    <thead>
        <tr>
            <th>Тема</th>
            <th>Содержимое</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{ object.subject }}</td>
            <td>{{ object.body }}</td>
            <td>
                <a href="/messages/{{ object.pk }}/update"
                   class="uk-button uk-button-primary uk-button-small"
                   uk-icon="icon:  file-edit">

                </a>
                <a href="/messages/{{ object.pk }}/delete"
                   class="uk-button uk-button-danger uk-button-small"
                   uk-icon="icon: trash">
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'mailer:main_page' %}" class="uk-button  uk-button-secondary">Назад</a>
{% endblock %}