{% extends 'mailer/base.html' %}

{% block content %}
{% load index %}
<h4>Список рассылок</h4>
<table class="uk-table uk-table-divider uk-table-striped uk-table-small">
    <caption></caption>
    <thead>
        <tr>
            <th>Название</th>
            <th>Тема сообщения</th>
            <th>Получателей</th>
            <th>Время начала</th>
            <th>Время окончания</th>
            <th>Периодичность</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{ object.title }}</td>
            <td>{{ object.message.subject }}</td>
            <td>{{ object.clients.all | length }}</td>
            <td>{{ object.start|date:"d.m.Y H:i:s" }}</td>
            <td>{{ object.finish|date:"d.m.Y H:i:s" }}</td>
            <td>{% with 'none ежедневно еженедельно ежемесячно' as list %} {{ list.split | index:object.frequency }}{% endwith %}</td>
            <td>{% with 'none создана запущена завершена' as list %} {{ list.split | index:object.status }}{% endwith %}</td>
            <td>
                <a href="/newsletters/{{ object.pk }}"
                   class="uk-button uk-button-secondary uk-button-small"
                   uk-icon="icon: search">
                </a>
                {% if object.is_block %}
                <a href="/newsletters/{{ object.pk }}/action/unblock"
                   class="uk-button uk-button-primary uk-button-small"
                   uk-icon="icon: play">
                </a>
                {% else %}
                <a href="/newsletters/{{ object.pk }}/action/block"
                   class="uk-button uk-button-danger uk-button-small"
                   uk-icon="icon: ban">
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'mailer:main_page' %}" class="uk-button  uk-button-secondary">Назад</a>
{% endblock %}